* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}

.single-column {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
}
img {
    width: 100%;
}
#s1 {
    background-color: #ffe9ed;
    padding: 40px 0px;
}
#s1 h1 {
text-align: center;
color: #e27789;
}
#s1 p {
    text-align: center;
    color: #9c9c9c;
}