* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: beige;
}
.container {
    width: 90%;
    max-width: 900px;
}
#hero-1 {
    background-image: url(../images/flowermeadow.jpg);
    background-size: cover;
    background-position: cover;
    max-width: 100%;
    height: 100dvh;
    padding: 24px 0px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#hero-1 h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: beige;
    align-items: center;
    right: 30%;
}
#hero-1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    text-align: right;
    left: 20%;
}
#hero-1 a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: #f0d5fd;
    color: white;
    display: inline-block;
    padding: 12px;
    margin: 24px 12px 0px;
}
#hero-1 .container {
    width: max-content;
    margin: 0px;
}
#hero-2 {
    background-image: url(../images/flowers.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100dvh;
    padding: 24px 0px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#hero-2 h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: beige;
    align-items: center;
    left: 20%;
}
#hero-2 a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: #692589;
    color: white;
    display: inline-block;
    padding: 12px;
    margin: 24px 12px 0px;
}
#hero-2 .container {
    width: max-content;
    margin: 0px;
}
#hero-3 {
    background-image: url(../images/flowers-2.jpg);
    background-size: cover;
    background-position: cover;
    max-width: 100%;
    height: 100dvh;
    padding: 24px 0px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#hero-3 h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #ffffff;
    align-items: center;
    left: 20%;
}
#hero-3 a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: #93c4ff;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 12px;
    margin: 24px 12px 0px;
}
#hero-3 .container {
    width: max-content;
    margin: 0px;
}

