@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/footballfieldvertical.png);
    background-size: 1000px;
}
.single-column1 {
    text-align: center;
}
.single-column1 h3 {
    font-size: 50px;
    font-family: "Mouse Memoirs", sans-serif;
    color: #ffffff;
    text-shadow: -2px -2px 0 #000000;

}
.single-column1 h1 {
    font-size: 100px;
    font-family: "Bangers", system-ui;
    color: #ffffff;
    text-shadow: -2px -2px 0 #000000;
}
.single-column1 h2 {
    font-size: 80px;
    font-family: "Mouse Memoirs", sans-serif;
    color: #ffffff;
    text-shadow: -2px -2px 0 #000000;

}
.images-container {
    max-width: 1000px;
    width: 1000px;
    height: 500px;
    margin: 0px auto;
    display: flex;
}
.images-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 50px;
}
.image1 h3 {
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    color: #200077;
    font-family: "Bangers", system-ui;
    text-shadow: 
        -2px -2px 0 #940000,
        2px -2px 0 #940000,
        -2px 2px 0 #940000,
        2px 2px 0 #940000;
}
.image2 h3 {
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    font-family: "Bangers", system-ui;
    text-shadow: 
        -2px -2px 0 #ffdd00,
        2px -2px 0 #940000,
        -2px 2px 0 #200077,
        2px 2px 0 #787777;
}
.more-info p {
    display: inline-block;
    padding: 200px;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 #000000;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 50px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.more-info h2 {
    display: inline-block;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 #000000;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 50px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
#card-section {
    color: #ffffff;
    text-shadow: 
    -2px -2px 0 #000000,
    -2px -2px 0 #000000,
    -2px -2px 0 #000000;
    padding: 48px;
}
.card-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.card {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.card li {
    font-size: 24px;
    margin: 24px 0px 0px;
    font-family: "Mouse Memoirs", sans-serif;
}
.card h3 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-family: "Bangers", system-ui;
}
.card .text-container {
    flex: 1;
    padding: 36px;
}
.card .text-container a {
    font-weight: bold;
    font-family: "Bangers", system-ui;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #482305;
    color: white;
    padding: 20px 50px;
    border-radius: 50px;
    margin: 0 auto;
}
.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
    font-family: "Mouse Memoirs", sans-serif;
}
.text-container a:hover {
    background-color: transparent;
    border: 3px solid hwb(0 100% 0%);
    color: #ffffff;
}
@media screen and (max-width: 768px) {
    .single-column1 {
    flex-direction: column;
    align-items: center;
    }
    .images-container {
    margin: 0 auto;
    }
    .card {
    margin: 0 auto;
    }
}