* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/dogpaws.png);
}
#navbar {
    background-color: #b5fafa;
    display: flex;
    align-items: center;
    font-size: 30px;
}
#navbar a {
    text-decoration: none;
    color: #299974;
    padding: 24px;
    font-family: 'Times New Roman', Times, serif;
}
#navbar h2 {
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    color: rgb(0, 0, 0);
    padding: 24px;
    font-size: 50px;
    
}
.center-column {
    width: 50%; 
    min-width: 500px;
    margin: 0px auto;
}
.center-column img {
    padding: 24px;
    width: 100%;
    max-width: 100%;
}
.center-column h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #299974;
    padding: 24px;
    text-decoration: none;
    font-size: 40px;
}
.slider {
    overflow-y: hidden;
    display: flex;
    position: relative;
    margin-top: 25px;
}
.slider .content {
    overflow-x: scroll;
    display: flex;
    gap: 25px;
}
.slider .card {
    position: relative;
    width: 300px;
    min-width: 350px;
    aspect-ratio: 1 / 1;
    h3 {
        position: absolute;
        bottom: 0px;
        background-color: #01010155;
        padding: 25px;
        width: 100%;
        text-align: center;
        color: #fefefe;
    }
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
}
#navbar a:hover {
    background-color: #fcd3ff;
}
.drop {
    position: relative;
}
.drop:hover .menu {
    opacity: 1;
    visibility: visible;
}
.menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.menu a {
    background-color: #ffffff;
    width: 100%;
    min-width: 200px;
     display: inline-block;
}
#navbar .menu a:hover {
    background-color: #ffd8d8;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 1;
}
.side-by-side .text-container {
    flex: 1;
    padding: 46px;
}
.side-by-side .image-container img {
    width: 100%;
    max-width: 100%;
}
.side-by-side .text-container a {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #e9c0ff;
    color: #b267e1;
    border-radius: 30dvh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    padding: 20px 20px;
}
.side-by-side .text-container p {
    max-width: 100%;
    font-size: 30px;
}
.side-by-side .text-container h1 {
    font-size: 50px;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 1;
}
.side-by-side .text-container {
    flex: 1;
    padding: 46px;
}
.side-by-side .image-container img {
    width: 100%;
    max-width: 100%;
}
.side-by-side .text-container a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #e9c0ff;
    color: #b267e1;
    border-radius: 30dvh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    padding: 10px 20px;
}
.side-by-side .text-container p {
    max-width: 50%;
    font-size: 30px;
}
.side-by-side .text-container h1 {
    font-size: 50px;
}
.text-container li {
    padding: 10px;
}