* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/dogpaws.png);
}
#navbar {
    background-color: #b5fafa;
    display: flex;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: #299974;
    padding: 24px;
    font-family: 'Times New Roman', Times, serif;
}
#navbar h2 {
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.center-column {
    width: 50%; 
    min-width: 500px;
    margin: 0px auto;
}
.center-column img {
    padding: 24px;
    width: 100%;
}
.center-column h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #299974;
    padding: 24px;
    text-decoration: none;
}
.slider {
    overflow-y: hidden;
    display: flex;
    position: relative;
    margin-top: 25px;
}
.slider .content {
    overflow-x: scroll;
    display: flex;
    gap: 25px;
}
.slider .card {
    position: relative;
    width: 300px;
    min-width: 350px;
    aspect-ratio: 1 / 1;
    h3 {
        position: absolute;
        bottom: 0px;
        background-color: #01010155;
        padding: 25px;
        width: 100%;
        text-align: center;
        color: #fefefe;
    }
}
img {
    display: block;
    width: 100%;
}