/* Drill 1 - Write your code solution below */
#column-d1 {
    width: 50%;
    min-width: 300px;
    margin: 0px left;
}


/* Drill 2 - Write your code solution below */
#column-d2 {
    width: 50%;
    min-width: 200px;
    margin: 0px auto;
}


/* Drill 3 - Write your code solution below */
#column-d3 {
    width: 50%;
    min-width: 300px;
    margin: 0px auto;
}


/* Drill 4 - Write your code solution below */
#container-d4 {
    width: 50%;
    min-width: 200px;
    margin: 0px auto;
}


/* Drill 5 - Write your code solution below */
#container-d5-1 {
    width: 50%;
    min-width: 200px;
    margin: 0px auto;
}
#container-d5-2 {
    width: 50%;
    min-width: 200px;
    margin: 0px;
}
#container-d5-3 {
    width: 50%;
    min-width: 200px;
    margin: 0px left;
}